.btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ccc;
  &__add{
    font-size: 4rem;
    background-color: #ff4500;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
  }
    &__update-show{
      animation: fadeIn 2s ease-in;
      visibility:visible;
    }
  &__update{
    background-color: yellowgreen;
    top: 20%;
    right: 2rem;
    font-size: 2rem;
    z-index: 10;
    &-show{
      animation: fadeIn 2s ease-in;
      visibility: visible;
    }
    // there is a bug when i have any values lower than 2s here
    // its like the icon pops back up
    &-hide{
      visibility: hidden;
      animation: fadeOut 2s ease-out;
    }
  }

  &__add,&__update{
    border:none;
    position:fixed;
    padding: .25em .5em;
    font-weight:700;
    font-style: italic;
    border-radius: 50%;
    cursor:pointer;
    box-shadow: 0 .5rem 1rem rgba(#000, .3);
    transition: all 2s;
    &:hover{
      box-shadow: 0 1rem 2rem rgba(#000, .2);
    }
    &:focus,&:active{
      outline: none;
      box-shadow: 0 .75rem 1.5rem rgba(#000, .3);
    }
  }
}
