
.container-card{
  width: 30rem;
}
.card{
  height: 30rem;
  width: 30rem;
  perspective: 1000px;
  position: relative;
  margin-bottom: 2rem;
  // temporary fix for long
  overflow: hidden;
  &__side{
    backface-visibility: hidden;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top:0;
    left:0;
    transition: all .7s ease;

    &--front{
      width: 100%;
      background-color: pink;
    }
    &--back{
      width: 100%;
      background-color: yellowgreen;
      transform: rotateY(-180deg);
    }
  }
  &:hover &__side--front{
    transform: rotateY(180deg);
  }
  &:hover &__side--back{
    transform: rotateY(0deg);
  }

  &__svg {
    display: flex;
    justify-content: flex-end;
    img{
      margin-right:1rem;
      fill: #fff;
      cursor:pointer;
    }
  }


  &__title{
    color: #eee;
    font-size: 2.4rem;
    font-weight:  700;
    text-align: center;
    word-wrap: break-word;
    // center the text on the card front
    &--center{
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
    }
  }
  &__description{
    font-size: 1.4rem;
    font-weight: 700;
    padding: .71em 1.42em;
    max-height: 100%;
    word-wrap: break-word;
    width: 100%
  }
}
