.master{
  padding: 2rem;
  // background-color: yellowgreen;
  &__container{
      list-style: none;
      // background-color: pink;
      // min-height: 100px;
      display: flex;
      flex-wrap: wrap;
  }
  &__items{
    display:flex;
    flex: 0 0 200px;
    margin-right: 1rem;
    margin-bottom:1rem;
  }
  &__links:link, &__links:visited{
    flex:1;
    color: #eee;
    text-decoration: none;
    background-color: grey;
    height:6rem;
    border-radius: 2px;
    padding:1em 2em;
    display: flex;
    flex-direction: column;
    position:relative;
     // word-wrap: break-word;
  }
  &__title{
    align-self: center;
    font-size: 1.3em;
    // margin-bottom: .5em;
  }
  &__date{
    position:absolute;
    right:20px;
    bottom: 0;
  }
}
