.search{
  min-height: 4.5rem;
  background-color: pink;
  width:100%;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  border-bottom: 1px solid #eee;
  @media only screen and (max-width: 500px){
   flex-direction: column;
  }
}

.search__name{
  // background-color: orangered;
  flex: 0 0 400px;
  // margin-right:
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  @media only screen and (max-width: 600px){
    height: 6rem;
  }
  @media only screen and (max-width: 500px){
   flex: 0 0 40px;
   margin: 0;
   margin-bottom: 5px;
  }

 &--input{
  padding: .96em 1.5em;
  width: 80%;
  border-radius: 50px;
  border: none;
  font-size: inherit;
  color: #aaa;
  background-color: #eee;
  box-shadow: 0 .5rem 1rem rgba(#000, .4);
  transform: scaleX(1);
  transition: all 2s;

  &:hover{
    // width: 90%;
      transform: scaleX(1.1);
  }
   &:focus{
     outline:none;
   }
 }
}
.search__name--input:hover + .search__icon-btn{
    transform: translate(-50%,-50%);
}

.search__name--input:focus + .search__icon-btn .search__icon{
  fill: #ccc;
}
.search__name--input:hover+ .search__icon-btn .search__icon{
  fill: #ccc;
}

// button holds svg icon
.search__icon-btn{
  position:absolute;
  right:0;
  top:50%;
  // margin-left: -40rem;
  // margin-left:40%;

  transform: translate(-80%,-50%);
  // background-color: rgba(#F00, 0.3);
  background-color: #eee;
  border: none;
  width:50px;
  height: 90%;
  border-radius: 100px;
  cursor:pointer;
  transition: all 2s;
  &:focus{
    outline:none;
  }
}
// svg icon
.search__icon{
  height: 2.5rem;
  width: 2.5rem;
  fill: #ddd;
  transition: 2s fill;
}
// active svg
.search__icon:active{
  fill: #000;
}


.search__filter{
  width: 100px;
  display:flex;
  justify-content: flex-end;
  position:relative;
  z-index: 10;
  @media only screen and (max-width: 500px){
      height: 6em;
      align-self:   flex-end;
      margin-bottom: 5px;
  }
}
.search__btn{
  // cursor: pointer;
  // width: 100%;
  // height: 100%;
  margin-right:2rem;
  flex: 0 0 100px;
  background-color:#eee;
  border-radius: 3px;
  border:none;
  position: relative;
  box-shadow: 0 .6rem 1.2rem rgba(#000, .3);
  transition: all .2s;
  color: #999;
  &:focus,&:active{
    outline: none;
    box-shadow: 0 .5rem 1rem rgba(#000, .4);
  }
}


// hovering over this or clicking the button should show the results
.search__btn::before{
  content: "";
  // display:block;
  // position
  position:absolute;
  bottom: 50%;
  right:0;
  transform: translate(0,50%);

  // arrow_down
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #777;
}


/// when they  hover over the arrow they se the seach chooses
