.topcards{
  background-color: #eee;
  border-radius: .5em;
  padding: 2em 4em;
  flex: 0 1 300px;
  text-align: center;
  box-shadow: 0 .6em 1.2em rgba(#000, .2);
  @media only screen and (max-width: 900px){
   margin-bottom: 2em;
  }
}
.topcards__graph{
    flex: 0 1 590px;
    border-radius: 5px;
    // background-color: #fff;
    padding:2rem;
    background-color: #eee;
    // margin-left:1rem;
    box-shadow: 0 .6em 1.2em rgba(#000, .2);
}






.list{
  list-style: none;
  @media only screen and (max-width: 900px){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & > * {
    @media only screen and (max-width: 900px){
      width: 300px;
    }
    @media only screen and (max-width: 600px){
      width: 200px;
    }
  }
}
.list__items{
  display:flex;
  &:not(:last-child){
    margin-bottom: .714rem;
  }
}
.list__links:link,.list__links:visited{
 display:flex;
 flex-direction: column;
 text-decoration: none;
 border-radius: 1em;
 flex:1;
 padding: 2em 4em;
 background-color: pink;
 cursor: pointer;
}

.list__title{
 font-size:1.6rem;
 align-self: center;
 text-transform: uppercase;
}

.list__date{
 font-size:1.1rem;
 align-self: flex-end;
 margin-right: -30px;
 // stops the date from going out of bounds
 @media only screen and (max-width: 600px){
   margin-right: 0;
 }
}
