*,*::after,*::before{
  box-sizing: inherit;
  margin: 0 ;
  padding: 0;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif;
}

body{
  // background: orange;
  color: #ccc;
  padding:0 2rem;
}
