.heading{
  &-primary{
    color: #fff;
    font-size: 4rem;
    letter-spacing: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;

    @media only screen and (max-width: 600px){
     font-size: 4rem;
     letter-spacing: .5rem;
    }
  }
  &__secondary{
    color: orangered;
    font-size: 4rem;
    letter-spacing: .7rem;
    font-weight: 400;
    text-align: center;
    @media only screen and (max-width: 600px){
     letter-spacing: .2rem;
    }
  }
  &__tertiary{
    color:pink;
    text-transform: uppercase;
    backface-visibility: hidden;
    display:block;
    text-align: center;
    font-size: 4rem;
  }

}
