.u-ct{text-align: center;}
.u-br-bt{border-bottom: 1px solid #eee;}

.u-mt-sm{margin-top: 1.5rem  !important;}
.u-mt-md{margin-top: 4rem  !important;}
.u-mt-lg{margin-top: 8rem  !important;}
.u-mt-xlg{margin-top: 10rem  !important;}

.u-mb-sm{margin-bottom: 1.5rem  !important;}
.u-mb-md{margin-bottom: 4rem  !important;}
.u-mb-lg{margin-bottom: 8rem  !important;}
.u-mb-xlg{margin-bottom: 10rem  !important;}

.u-ml-sm{margin-left: 1.5rem  !important;}
.u-ml-md{margin-left: 4rem  !important;}
.u-ml-lg{margin-left: 8rem  !important;}
.u-ml-xlg{margin-left: 10rem  !important;}

.u-mr-sm{margin-right: 1.5rem  !important;}
.u-mr-md{margin-right: 4rem  !important;}
.u-mr-lg{margin-right: 8rem  !important;}
.u-mr-xlg{margin-right: 10rem  !important;}
