.u-ct{text-align: center;}
.u-mt-sm{margin-top: 1.5rem  !important;}
.u-mt-md{margin-top: 4rem  !important;}
.u-mt-lg{margin-top: 8rem  !important;}
.u-mt-xlg{margin-top: 10rem  !important;}

.u-mb-sm{margin-bottom: 1.5rem  !important;}
.u-mb-md{margin-bottom: 4rem  !important;}
.u-mb-lg{margin-bottom: 8rem  !important;}
.u-mb-xlg{margin-bottom: 10rem  !important;}
