*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px
}
body{
  // background-color: orangered;
  // height: 40vh;
  // // background-image: url(../../img/desk.jpg);
  // // background-color: #000;
  // background-size: cover;
}
