*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.heading-primary {
  color: #fff;
  font-size: 6rem;
  letter-spacing: 1.2rem;
  font-weight: 400; }

.heading-secondary {
  color: #fff;
  font-size: 4rem;
  letter-spacing: .7rem;
  font-weight: 400;
  text-align: center; }

.app {
  flex: 0 1 70%;
  background-color: purple;
  padding: 3rem; }
  .app__description {
    font-size: 1.4rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem  !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem  !important; }

.u-margin-bottom-xlarge {
  margin-bottom: 10rem  !important; }

.u-margin-top-small {
  margin-top: 1.5rem  !important; }

.u-margin-top-medium {
  margin-top: 4rem  !important; }

.u-margin-top-large {
  margin-top: 8rem  !important; }

.u-margin-top-xlarge {
  margin-top: 10rem  !important; }

.form {
  flex: 0 1 30%;
  margin-left: auto;
  padding: 2rem;
  text-align: center; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    border: none;
    border-radius: 2rem;
    font-size: 1.4;
    font-family: inherit;
    color: #777;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    width: 100%;
    border-bottom: 3px solid transparent;
    display: block; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      border-bottom: 3px solid green; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 4px;
  transition: all .2s;
  position: relative;
  font-size: 1.2rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); }

.btn--green {
  background-color: rgba(0, 128, 0, 0.8);
  color: #fff;
  /* the color of the after psuedo elem for the button */ }

.btn__svg {
  width: 100%;
  height: 100%; }
  .btn__svg:not(:last-child) {
    margin-right: 2rem; }
  .btn__svg svg {
    width: 4rem;
    height: 4rem;
    fill: purple; }

.header {
  height: 60vh;
  background-image: url(../img/disk.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .header-box {
    text-align: center; }

.font-container {
  height: 50vh;
  margin-top: -10vh;
  background-color: orangered;
  display: flex; }
