*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif; }

body {
  color: #ccc;
  padding: 0 2rem; }

.heading-primary {
  color: pink;
  text-transform: uppercase;
  backface-visibility: hidden;
  display: block;
  text-align: center;
  font-size: 4rem; }

.heading-secondary {
  color: #fff;
  font-size: 4rem;
  letter-spacing: .7rem;
  font-weight: 400;
  text-align: center; }

.u-ct {
  text-align: center; }

.u-br-bt {
  border-bottom: 1px solid #eee; }

.u-mt-sm {
  margin-top: 1.5rem  !important; }

.u-mt-md {
  margin-top: 4rem  !important; }

.u-mt-lg {
  margin-top: 8rem  !important; }

.u-mt-xlg {
  margin-top: 10rem  !important; }

.u-mb-sm {
  margin-bottom: 1.5rem  !important; }

.u-mb-md {
  margin-bottom: 4rem  !important; }

.u-mb-lg {
  margin-bottom: 8rem  !important; }

.u-mb-xlg {
  margin-bottom: 10rem  !important; }

.u-ml-sm {
  margin-left: 1.5rem  !important; }

.u-ml-md {
  margin-left: 4rem  !important; }

.u-ml-lg {
  margin-left: 8rem  !important; }

.u-ml-xlg {
  margin-left: 10rem  !important; }

.u-mr-sm {
  margin-right: 1.5rem  !important; }

.u-mr-md {
  margin-right: 4rem  !important; }

.u-mr-lg {
  margin-right: 8rem  !important; }

.u-mr-xlg {
  margin-right: 10rem  !important; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ccc; }
  .btn__add {
    font-size: 4rem;
    background-color: #ff4500;
    bottom: 1rem;
    right: 1rem;
    z-index: 10; }
  .btn__update-show {
    animation: fadeIn 2s ease-in;
    visibility: visible; }
  .btn__update {
    background-color: yellowgreen;
    top: 20%;
    right: 2rem;
    font-size: 2rem;
    z-index: 10; }
    .btn__update-show {
      animation: fadeIn 2s ease-in;
      visibility: visible; }
    .btn__update-hide {
      visibility: hidden;
      animation: fadeOut 2s ease-out; }
  .btn__add, .btn__update {
    border: none;
    position: fixed;
    padding: .25em .5em;
    font-weight: 700;
    font-style: italic;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transition: all 2s; }
    .btn__add:hover, .btn__update:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn__add:focus, .btn__add:active, .btn__update:focus, .btn__update:active {
      outline: none;
      box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.3); }

.input__box {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .input__box > *:not(:last-child) {
    margin-bottom: 2rem; }

.input__field {
  display: inline-block;
  width: 60%;
  border: none;
  background-color: #eee;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: .71em 1.07em;
  font-family: inherit;
  color: inherit;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .8s ease-in; }
  .input__field:hover, .input__field:focus {
    outline: none;
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2); }

.input__textarea {
  width: 60%;
  border: none;
  background-color: #eee;
  border-radius: 2px;
  padding: .71em 1.07em;
  font-family: inherit;
  color: inherit;
  resize: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .8s ease-in; }
  .input__textarea:focus {
    outline: none; }
  .input__textarea:hover {
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2); }

.container-card {
  width: 30rem; }

.card {
  height: 30rem;
  width: 30rem;
  perspective: 1000px;
  position: relative;
  margin-bottom: 2rem; }
  .card__side {
    backface-visibility: hidden;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .7s ease; }
    .card__side--front {
      width: 100%;
      background-color: pink; }
    .card__side--back {
      width: 100%;
      background-color: yellowgreen;
      transform: rotateY(-180deg); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__svg {
    display: flex;
    justify-content: flex-end; }
    .card__svg img {
      margin-right: 1rem;
      fill: #fff;
      cursor: pointer; }
  .card__title {
    color: #eee;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center; }
    .card__title--center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .card__description {
    font-size: 1.4rem;
    font-weight: 700;
    padding: .71em 1.42em; }

.row {
  display: flex;
  flex-wrap: wrap; }
  .row > * {
    margin-left: 2rem; }

.header {
  height: 60vh;
  background-image: url(../../img/disk.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .header-box {
    text-align: center; }

/*
Landing page design here
*/
