*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 40%; } }

body {
  color: #ccc; }

.front-page {
  height: 100vh;
  padding: 2rem; }

.font-container {
  height: 50vh;
  margin-top: -10vh;
  display: flex; }

.app {
  flex: 0 1 70%;
  padding: 3rem; }
  @media only screen and (max-width: 900px) {
    .app {
      margin-top: 4rem; } }
  @media only screen and (max-width: 600px) {
    .app {
      display: none; } }
  .app__description {
    font-size: 1.4rem; }

::selection {
  color: #000;
  background-color: #fff; }

::-moz-selection {
  color: #000;
  background-color: #fff; }

.heading__primary {
  color: #fff;
  letter-spacing: 1.2rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 600px) {
    .heading__primary {
      letter-spacing: .5rem; } }

.heading__primary--white {
  color: #fff;
  font-size: 4rem;
  font-weight: 400; }

.heading__primary--pink {
  color: pink;
  font-size: 4rem;
  font-weight: 900; }

.heading__secondary {
  color: orangered;
  font-size: 4rem;
  letter-spacing: .7rem;
  font-weight: 400;
  text-align: center; }
  @media only screen and (max-width: 600px) {
    .heading__secondary {
      letter-spacing: .2rem; } }

.heading__tertiary {
  color: pink;
  text-transform: uppercase;
  backface-visibility: hidden;
  display: block;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1rem;
  font-size: 4rem; }

.heading__quaternary {
  color: #777;
  font-size: 2em;
  letter-spacing: .2em;
  font-weight: 900;
  text-align: center; }

.u-ct {
  text-align: center; }

.u-br-bt {
  border-bottom: 1px solid #eee; }

.u-mt-sm {
  margin-top: 1.5rem  !important; }

.u-mt-md {
  margin-top: 4rem  !important; }

.u-mt-lg {
  margin-top: 8rem  !important; }

.u-mt-xlg {
  margin-top: 10rem  !important; }

.u-mb-sm {
  margin-bottom: 1.5rem  !important; }

.u-mb-md {
  margin-bottom: 4rem  !important; }

.u-mb-lg {
  margin-bottom: 8rem  !important; }

.u-mb-xlg {
  margin-bottom: 10rem  !important; }

.u-ml-sm {
  margin-left: 1.5rem  !important; }

.u-ml-md {
  margin-left: 4rem  !important; }

.u-ml-lg {
  margin-left: 8rem  !important; }

.u-ml-xlg {
  margin-left: 10rem  !important; }

.u-mr-sm {
  margin-right: 1.5rem  !important; }

.u-mr-md {
  margin-right: 4rem  !important; }

.u-mr-lg {
  margin-right: 8rem  !important; }

.u-mr-xlg {
  margin-right: 10rem  !important; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ccc; }
  .btn__add {
    font-size: 4rem;
    background-color: #ff4500;
    bottom: 1rem;
    right: 1rem;
    z-index: 10; }
  .btn__update-show {
    animation: fadeIn 2s ease-in;
    visibility: visible; }
  .btn__update {
    background-color: yellowgreen;
    top: 20%;
    right: 2rem;
    font-size: 2rem;
    z-index: 10; }
    .btn__update-show {
      animation: fadeIn 2s ease-in;
      visibility: visible; }
    .btn__update-hide {
      visibility: hidden;
      animation: fadeOut 2s ease-out; }
  .btn__add, .btn__update {
    border: none;
    position: fixed;
    padding: .25em .5em;
    font-weight: 700;
    font-style: italic;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transition: all 2s; }
    .btn__add:hover, .btn__update:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn__add:focus, .btn__add:active, .btn__update:focus, .btn__update:active {
      outline: none;
      box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.3); }

.btnA, .btnA:link, .btnA:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 4px;
  transition: all .2s;
  position: relative;
  font-size: 1.2rem;
  border: none;
  cursor: pointer; }

.btnA:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btnA:hover::after {
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0; }

.btnA:active, .btnA:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); }

.btnA--green {
  background-color: rgba(0, 128, 0, 0.8);
  color: #fff; }

.btnA__svg {
  width: 100%;
  height: 100%; }
  .btnA__svg:not(:last-child) {
    margin-right: 2rem; }
  .btnA__svg svg {
    width: 4rem;
    height: 4rem;
    fill: purple; }

.formA {
  flex: 0 1 30%;
  margin-left: auto;
  padding: 2rem;
  text-align: center; }
  @media only screen and (max-width: 600px) {
    .formA {
      margin-top: 4rem;
      flex: 0 1 100%; } }
  .formA__group:not(:last-child) {
    margin-bottom: 2rem; }
  .formA__input {
    border: none;
    border-radius: 2rem;
    font-size: 1.4;
    font-family: inherit;
    color: #777;
    background-color: #eee;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    width: 100%;
    border-bottom: 3px solid transparent;
    display: block; }
    .formA__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      border-bottom: 3px solid green; }

.input__box {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .input__box > *:not(:last-child) {
    margin-bottom: 2rem; }

.input__field {
  display: inline-block;
  width: 60%;
  border: none;
  background-color: #eee;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: .71em 1.07em;
  font-family: inherit;
  color: inherit;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .8s ease-in; }
  .input__field:hover, .input__field:focus {
    outline: none;
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2); }

.input__textarea {
  width: 60%;
  border: none;
  background-color: #eee;
  border-radius: 2px;
  padding: .71em 1.07em;
  font-family: inherit;
  color: inherit;
  resize: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .8s ease-in; }
  .input__textarea:focus {
    outline: none; }
  .input__textarea:hover {
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2); }

.container-card {
  width: 30rem; }

.card {
  height: 30rem;
  width: 30rem;
  perspective: 1000px;
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden; }
  .card__side {
    backface-visibility: hidden;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .7s ease; }
    .card__side--front {
      width: 100%;
      background-color: pink; }
    .card__side--back {
      width: 100%;
      background-color: yellowgreen;
      transform: rotateY(-180deg); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__svg {
    display: flex;
    justify-content: flex-end; }
    .card__svg img {
      margin-right: 1rem;
      fill: #fff;
      cursor: pointer; }
  .card__title {
    color: #eee;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    word-wrap: break-word; }
    .card__title--center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .card__description {
    font-size: 1.4rem;
    font-weight: 700;
    padding: .71em 1.42em;
    max-height: 100%;
    word-wrap: break-word;
    width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap; }
  .row > * {
    margin-left: 2rem; }

.checkbox {
  display: none; }

.checkbox__label {
  position: relative;
  left: 50%;
  top: -2em;
  transform: translateX(-50%); }

.checkbox__btn {
  height: 3em;
  width: 3em;
  border: 5px solid red;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -1.5em;
  cursor: pointer; }

.checkbox__btn::after {
  content: "";
  display: none;
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red; }

.checkbox:checked + .checkbox__label .checkbox__btn::after {
  display: block; }

.checkbox:not(:checked) ~ .create__contrainer {
  display: none; }

.xcontainer-main {
  display: flex;
  justify-content: space-around;
  font-weight: 400; }
  @media only screen and (max-width: 900px) {
    .xcontainer-main {
      flex-direction: column;
      justify-content: flex-start; } }

.create__show {
  padding: 2rem; }

.create__contrainer {
  display: flex;
  flex-direction: column; }

.create__cards {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 900px) {
    .create__cards {
      flex-direction: column; } }

.create__field {
  padding: 1rem;
  flex: 0 0 40%;
  display: flex;
  flex-direction: column; }

.create__view {
  flex: 0 0 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column; }

.card__view {
  width: 250px;
  align-self: center;
  background-color: #eee;
  padding: 3rem 2.5rem;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 600px) {
    .card__view {
      padding: 4rem 2.5rem; } }

.card__view-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #aaa; }

.input__master-title {
  color: #aaa;
  font-family: inherit;
  align-self: center;
  padding: 1.5em 2.5em;
  width: 250px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.3);
  transition: width .3s;
  background: #eee; }

.input__master-title:focus {
  outline: none;
  width: 280px; }

.create__cta-btn:link, .create__cta-btn:visited {
  width: 200px;
  padding: 2rem 3rem;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 69, 0, 0.8);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: all .5s; }

.create__cta-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2); }

.create__cta-btn:focus, .create__cta-btn:active {
  outline: none;
  transform: translateY(-2px);
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.4); }

.table {
  border-collapse: collapse;
  width: 80%;
  margin: 2rem auto;
  border: 1px solid #ddd; }
  .table__hr {
    background-color: orange; }
  .table__th {
    padding: 1.5rem; }
  .table__hr--sub {
    border: 1px solid #ddd;
    padding: 1.5rem; }
  .table__tr {
    text-align: center; }
  .table__tc--1, .table__tc--2, .table__tc--3 {
    border: 1px solid #ddd;
    padding: 1.5rem;
    position: relative; }
  .table__tc--1:nth-of-type(even), .table__tc--3:nth-of-type(even) {
    background-color: #aaa; }
  .table__tc--2:nth-of-type(odd) {
    background-color: #aaa; }
  .table__text-style {
    writing-mode: vertical-rl;
    text-orientation: mixed; }

.topcards {
  background-color: #eee;
  border-radius: .5em;
  padding: 2em 4em;
  flex: 0 1 300px;
  text-align: center;
  box-shadow: 0 0.6em 1.2em rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 900px) {
    .topcards {
      margin-bottom: 2em; } }

.topcards__graph {
  flex: 0 1 590px;
  border-radius: 5px;
  padding: 2rem;
  background-color: #eee;
  box-shadow: 0 0.6em 1.2em rgba(0, 0, 0, 0.2); }

.list {
  list-style: none; }
  @media only screen and (max-width: 900px) {
    .list {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 900px) {
    .list > * {
      width: 300px; } }
  @media only screen and (max-width: 600px) {
    .list > * {
      width: 200px; } }

.list__items {
  display: flex; }
  .list__items:not(:last-child) {
    margin-bottom: .714rem; }

.list__links:link, .list__links:visited {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 1em;
  flex: 1;
  padding: 2em 4em;
  background-color: pink;
  cursor: pointer; }

.list__title {
  font-size: 1.6rem;
  align-self: center;
  text-transform: uppercase; }

.list__date {
  font-size: 1.1rem;
  align-self: flex-end;
  margin-right: -30px; }
  @media only screen and (max-width: 600px) {
    .list__date {
      margin-right: 0; } }

.search {
  min-height: 4.5rem;
  background-color: pink;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  border-bottom: 1px solid #eee; }
  @media only screen and (max-width: 500px) {
    .search {
      flex-direction: column; } }

.search__name {
  flex: 0 0 400px;
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: center; }
  @media only screen and (max-width: 600px) {
    .search__name {
      height: 6rem; } }
  @media only screen and (max-width: 500px) {
    .search__name {
      flex: 0 0 40px;
      margin: 0;
      margin-bottom: 5px; } }
  .search__name--input {
    padding: .96em 1.5em;
    width: 80%;
    border-radius: 50px;
    border: none;
    font-size: inherit;
    color: #aaa;
    background-color: #eee;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    transform: scaleX(1);
    transition: all 2s; }
    .search__name--input:hover {
      transform: scaleX(1.1); }
    .search__name--input:focus {
      outline: none; }

.search__name--input:hover + .search__icon-btn {
  transform: translate(-50%, -50%); }

.search__name--input:focus + .search__icon-btn .search__icon {
  fill: #ccc; }

.search__name--input:hover + .search__icon-btn .search__icon {
  fill: #ccc; }

.search__icon-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-80%, -50%);
  background-color: #eee;
  border: none;
  width: 50px;
  height: 90%;
  border-radius: 100px;
  cursor: pointer;
  transition: all 2s; }
  .search__icon-btn:focus {
    outline: none; }

.search__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #ddd;
  transition: 2s fill; }

.search__icon:active {
  fill: #000; }

.search__filter {
  width: 100px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 10; }
  @media only screen and (max-width: 500px) {
    .search__filter {
      height: 6em;
      align-self: flex-end;
      margin-bottom: 5px; } }

.search__btn {
  margin-right: 2rem;
  flex: 0 0 100px;
  background-color: #eee;
  border-radius: 3px;
  border: none;
  position: relative;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.3);
  transition: all .2s;
  color: #999; }
  .search__btn:focus, .search__btn:active {
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.search__btn::before {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translate(0, 50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #777; }

.filter__list {
  position: absolute;
  top: 60%;
  background-color: #ccc;
  list-style: none;
  margin-top: 1rem;
  max-height: 200px;
  width: 100px;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 1s; }
  .filter__list-item {
    margin-bottom: 1rem;
    display: flex;
    cursor: pointer; }
  .filter__list-link {
    border: none;
    padding: 1rem 2rem;
    flex: 1;
    background-color: pink;
    transition: all 2s; }
  .filter__list-link:not(:hover) {
    transform: translateX(-10px); }

.search__filter:hover .filter__list {
  display: block;
  transform: scaleY(1); }

.master {
  padding: 2rem; }
  .master__container {
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
  .master__items {
    display: flex;
    flex: 0 0 200px;
    margin-right: 1rem;
    margin-bottom: 1rem; }
  .master__links:link, .master__links:visited {
    flex: 1;
    color: #eee;
    text-decoration: none;
    background-color: grey;
    height: 6rem;
    border-radius: 2px;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    position: relative; }
  .master__title {
    align-self: center;
    font-size: 1.3em; }
  .master__date {
    position: absolute;
    right: 20px;
    bottom: 0; }

.header {
  height: 60vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(238, 238, 238, 0.3)), url(../../img/disk.jpg);
  background-size: cover;
  background-position: top center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  @media only screen and (max-width: 900px) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); } }
  .header-box {
    text-align: center; }

.nav {
  display: flex;
  justify-content: space-around; }
  .nav-list {
    flex: 0 0 70%;
    list-style: none;
    display: flex;
    justify-content: center; }
    .nav-list__item {
      flex: 1;
      margin-right: .5rem;
      display: flex; }
    .nav-list__link:link, .nav-list__link:visited {
      flex: 1;
      background-color: yellowgreen;
      text-decoration: none;
      padding: 1rem 2rem;
      position: relative;
      text-align: center;
      font-size: 2rem;
      color: #fff; }
    .nav-list__link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 5px solid orangered;
      transition: all .4s; }
    .nav-list__link:hover::before {
      transform: scaleX(0.3); }
  .nav-logout {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    list-style: none; }
    .nav-logout__item {
      display: flex;
      margin-bottom: 1px;
      justify-content: center; }
    .nav-logout__link-log {
      padding: .7rem 2.5rem;
      background-color: pink;
      color: #777;
      font-size: 2rem;
      text-decoration: none;
      text-align: center;
      position: relative; }
    .nav-logout__link-log::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      border-bottom: 3px solid orangered;
      transition: all .4s; }
    .nav-logout__link-log:hover::before {
      transform: scaleX(0.5); }

.tool-bar {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1000; }
  .tool-bar__item {
    background-color: transparent;
    border: none; }
  .tool-bar__item:focus {
    outline: none; }

.tool-bar:hover > .nav-logout {
  display: block; }

/*
Landing page design here
*/
.remember {
  padding: 0 2rem; }
