.header{
  height: 60vh;
  background-image: url(../../img/disk.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  @media only screen and (max-width: 900px){
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  &-box{
    text-align: center;
  }
}
