.nav{
  // height:100px;
  // temporary margin
  // margin-top:4rem;
  // seperate the important bits
  display:flex;
  justify-content:space-around;
  &-list{
    flex: 0 0 70%;
    list-style: none;
    display:flex;
    justify-content: center;
    &__item{
    flex:1;
    margin-right: .5rem;
    display:flex;
    }
    &__link:link,&__link:visited{
      flex:1;
      background-color: yellowgreen;
      text-decoration: none;
      padding:1rem 2rem;
      position: relative;
      text-align: center;
      font-size: 2rem;

      color: #fff;
    }
    &__link::before{
      content: "";
      position:absolute;
      bottom:0;
      left:0;
      width: 100%;
      border-bottom: 5px solid orangered;
      transition: all .4s;
    }
    &__link:hover::before{
      transform: scaleX(.3);
    }
  }
  &-logout{
    display: none;
    position: absolute;
    // put it bellow the bar
    top: 100%;
    // increase the width of the bar
    width:100%;
    list-style: none;
      &__item{
        display:flex;
        margin-bottom: 1px;
        justify-content: center;
      }
      &__link-log{
        // width:70%;
        padding: .7rem 2.5rem;
        background-color: pink;
        color:#777;
        font-size: 2rem;
        text-decoration: none;
        text-align: center;
        position:relative;
        // border-bottom: 2px solid orangered;
        // transition: all .4s;
      }
      &__link-log::before{
        content: "";
        position: absolute;
        bottom:0;
        left:0;
        z-index:10;
        width: 100%;
        border-bottom: 3px solid orangered;
        transition: all .4s;
      }
        &__link-log:hover::before{
          // width: 100%;
          transform: scaleX(.5);
        }
  }
}
.tool-bar{
  display: flex;
  justify-content: flex-end;
  position:relative;
  z-index: 1000;
  &__item{
    background-color: transparent;
    border:none;
  }
  &__item:focus{
    outline: none;
  }
}

.tool-bar:hover > .nav-logout{
  display:block;
}
// need to find some other way i can be interactive with this list other than active
// .tool-bar__item:focus + .nav-logout{
//  display:block;
// }

// .tool-bar__item:active + .nav-logout{
//  display:block;
// }
